[submodule "content/themes/casper"]
	path = content/themes/casper
	url = https://github.com/TryGhost/Casper.git
[submodule "content/themes/ghost-theme"]
	path = content/themes/ghost-theme
	url = https://github.com/Vanthink-UED/ghost-theme.git
[submodule "core/client"]
	path = core/client
	url = https://github.com/TryGhost/Ghost-Admin.git
